/* 
    Formulário
*/
* {
    font-family: 'Amatic SC', sans-serif;
}

body { 
    margin: 0;
}

#contact {
    display: block;
    background-color: rgb(108, 122, 129);
    width: 100%;
    margin: 0;
    color: white;
    font-size: 18px;
}

#contact-content {
    background-color: transparent;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

#contact-title {
    text-align: center;
    font-size: 40px;
    padding: 0px 0px 40px 0px;
}

#fyi {
    background-color: black;
    padding: 5px;
    margin-right: 5px;
}

#contact-main-text {
    line-height: 1.6em;
}

#form-title {
    font-size: 30px;
}

form label input{
    width: 100%;
    height: 40px;
    margin: 5px auto;
}

form label input::placeholder {
    font-size: 25px;
} 

form label input {
    font-size: 25px;
}

#send-message-btn {
    font-size: 20px;
}

/* 
    Cabeçalho
*/
header ol.list {
    display:flex;
    justify-content: flex-start ;
    list-style: none;
    background-color: rgba(0, 0, 0,0.7);
    margin: 0px;
}

header li {
    padding: 5px 0px;
    margin: 0px;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    color: rgb(226, 213, 213);
    padding: 5px 15px;
    transition: background-color 1s, color 1s;
}

header li a:hover,
header li a:active {
    background-color: whitesmoke;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/header.jpg");
    color:rgb(226, 213, 213);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

header div.big-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.2em;
}

header div.big-msg h2{
    margin:10px;
}

header div.big-msg h3 {
    margin: 10px;
    background-color: black;
    font-size: 0.5em;
    padding: 10px 0px;
}

header div.big-msg h3 a{
    text-decoration: none;
    color: rgb(226, 213, 213);
    padding: 10px;
    transition: background-color 1s, color 1s;
}

header div.big-msg h3 a:hover,
header div.big-msg h3 a:active {
    background-color: whitesmoke;
    color: black;
}

header div.open-hour {
    align-self: flex-start;
    margin:0px 3px;
}

header div.open-hour h4 {
    background-color: black;
    display: block;
    padding: 5px;
    margin: 5px 9px;
}
/*
    Cardápio
*/

.container {
    margin: 0;
    padding: 7vh 30%;
    background-color: black;
}

.container__upper-text {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
}

.menu {
    width: 100%;
}

.menu__box-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40px;
    margin: 0;
}

.menu__button {
    height: 100%;
    flex-grow: 1;
    margin: 0;
    font-size: 120%;
    border: none;
    color: white;
    background-color: black;
    transition: all 100ms ease-in 0s ;
    cursor: pointer;
}

.menu__button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.menu__button:focus {
    outline: none;
}

.active {
    background-color: red !important;
}


.content-box {
    margin: 0;
    width: 100%;
}

.content {
    width: 100%;
    font-size: 110%;
    margin: 0;
    background-color: white;
}

.content__item-name {
    margin: 0;
    padding: 2% 2%;
}

.content__item-description {
    color: black;
    margin: 0;
    padding: 2% 2%;
}

.content__price-box {
    float: right;
    background-color: grey;
    padding: 1% 1%;
    border-radius: 15%;
    color: white;
    margin: 3% 3%;
} 

.content__grey-box {
    background-color: grey;
    padding: 3px 3px;
    border-radius: 20%;
    font-size: 80%;
    font-weight: 400;
    color: white;
}

.content__red-box {
    background-color: red;
    padding: 3px 3px;
    border-radius: 10%;
    font-size: 80%;
    font-weight: 400;
    color: white;
}

/*
    Mapa
*/

section.map-section {
    background-image: url("../images/map.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width:260px) {
    section.map-section {
        background-position: 60%;
    }
}